:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.side-nav-toggle {
    // Force text color due to issue https://github.com/angular/material2/issues/4614
    color: #673ab7;
}

.mat-icon {
    margin-right: 5px;
}
