<!-- Header -->
<ctt-header
    [toolbarTitle]="title"
    [toolbarTitleIcon]="icon"
    [(buttonToggle)]="sidenavVisible">
</ctt-header>

<!-- Navigation with wrapped main content-->
<ctt-navigation
    [(show)]="sidenavVisible">
    <!-- Main content -->
    <ng-container>
        <!-- Provided via router -->
        <router-outlet></router-outlet>
        <br>
        <hr>
        <br>
        TODO: rounter + navbaar links<br>
        Content: translator + history-widget (top 5 translations) <br>
        Full history: full accordion list (delete, view details) <br>
        <ul>
            Settings:
            <li>history limit,</li>
            <li>replacement letters,</li>
            <li>replace with,</li>
            <li>ignore / stripe sentence flow (remove . , ;)</li>
            <li>ignore / stripe caps</li>
            <li>translate as user type / delay</li>
        </ul>
        About: points for recruiter about app etc, code snippets, remarks
    </ng-container>
</ctt-navigation>

